.filterUsuarios {
    width: 100%;
    margin-bottom: 24px;
    .title {
        font-size: 30px;
        color: #192E47;
        font-weight: bold;
    }
    .row {
        width: 100%;
        display: flex;
        margin-top: 25px;
        .column {
            display: flex;
            box-sizing: border-box;
            width: 50%;
            margin-right: 20px;
            justify-content: center;
            &:last-child {
                margin-right: 0;
            }
        }
        .button {
            width: 164px;
        }
    }
    .textField {
        width: 100%;
    }
}
